@import url("../index.css");
@import url(https://cdn.jsdelivr.net/npm/syntax-highlight-element@1/dist/themes/prettylights.min.css);


.code-block {
  --prettylights-bg: light-dark(#f6f8fa, #151b23);
  --prettylights-comment: light-dark(#59636e, #9198a1);
  
  color-scheme: light dark;
  color: var(--prettylights-comment);
  background-color: var(--prettylights-bg);
  margin-left: 2em;
  margin-bottom: 1em;
}

syntax-highlight {
  display: block;
}

line-numbers {
  /* ensure we use the same font settings */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    line-height: 1.6;
}